.hero-container {
    min-height: 100vh;
    background: linear-gradient(120deg, rgba(0,0,0,0.9), rgba(0,0,0,0)), url('../img/hero.jpg');
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
}

h1, p {
    margin: 0;
}

a {
    color: white;
    margin: 0;
    font-size: 20px;
}



